
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    color: #000000;
}
header{
    background-color: #fd0606;
    color: white;
    padding: 10px 20px; /* Menor padding para reducir la altura */
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em; /* Tamaño de fuente relativo */
    box-sizing: border-box; /* Asegura que padding se incluya en el tamaño total */
}

.header .logo img {
    width: 50px;
    height: auto;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #575757;
}

nav {
    display: flex;
    gap: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    width: 200px; /* Establece un ancho fijo */
    color: white;
    background-color: #da0000;
    border-radius: 10px;
    border: 1px solid rgb(110, 2, 2);
    margin-top: 50px;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    text-align: center; /* Centra el texto */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño del botón */
}

button:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: #a50000;
}

#qr-scanner {
    width: 100%; /* Cubrir todo el ancho del contenedor */
    height: 40vh; /* Ajusta la altura para una relación horizontal */
    max-height: 250px; /* Limitar la altura máxima para evitar que sea demasiado alto */
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: black;
    margin: 0 auto; /* Centrar horizontalmente */
}



#qr-reader {
    width: 100%; /* Cubrir todo el ancho del contenedor */
    height: 40vh; /* Ajusta la altura para una relación horizontal */
    max-height: 250px; /* Limitar la altura máxima para evitar que sea demasiado alto */
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: black;
    margin: 0 auto; /* Centrar horizontalmente */
}


#qr-reader-results {
    margin-top: 10px;
    font-size: 1.2em;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #b30000;
    border-top: 2px solid #800000;
}


